;; shadow-cljs configuration
{:source-paths
 ["src/" "test/"]

 :dependencies
 []

 :builds
 {:client
  {:target :node-script
   :main dhcp.node-client/main
   :output-to "build/client.js"
   ;; Don't try and connect back to shadow-cljs process
   :devtools {:enabled false :console-support false}

   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}

  :server
  {:target :node-script
   :main dhcp.json-pool-server/main
   :output-to "build/server.js"
   ;; Don't try and connect back to shadow-cljs process
   :devtools {:enabled false :console-support false}

   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}

  :test
  {:target :node-test
   :output-to "build/test.js"

   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}
  }}
