;; shadow-cljs configuration
{:source-paths
 ["src/" "test/"]

 :dependencies
 [[cljs-bean "1.9.0"]]

 :builds
 {:simple-client
  {:target :node-script
   :main dhcp.simple-client/main
   :output-to "build/simple-client.js"
   ;; Don't try and connect back to shadow-cljs process
   :devtools {:enabled false :console-support false}
   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}

  :pool-server
  {:target :node-script
   :main dhcp.json-pool-server/main
   :output-to "build/pool-server.js"
   ;; Don't try and connect back to shadow-cljs process
   :devtools {:enabled false :console-support false}
   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}

  :mac2ip-server
  {:target :node-script
   :main dhcp.mac2ip-server/main
   :output-to "build/mac2ip-server.js"
   ;; Don't try and connect back to shadow-cljs process
   :devtools {:enabled false :console-support false}
   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}

  :ping-client
  {:target :node-script
   :main icmp.ping/main
   :output-to "build/ping.js"
   ;; Don't try and connect back to shadow-cljs process
   :devtools {:enabled false :console-support false}
   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}

  :read-pcap
  {:target :node-script
   :main pcap.core/main
   :output-to "build/read-pcap.js"
   ;; Don't try and connect back to shadow-cljs process
   :devtools {:enabled false :console-support false}
   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}

  :test
  {:target :node-test
   :output-to "build/test.js"
   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}
  }}
